/*=============================
 navbar css in witch 
===============================*/
.logo {
  height: 35.3906px;
  width: 52.7344px;
}
.logo-text {
  position: absolute;
  top: 40.64px;
}
/*=============================
 button commmen css in witch 
===============================*/
.btn {
  --bs-btn-font-size: 10.656px !important;
  --bs-btn-font-weight: 600 !important;
  line-height: 13.6864px !important;
  --bs-btn-padding-x: 0.375rem !important;
}
.btn-secondary {
  --bs-btn-color: #7f56d9 !important;
  --bs-btn-hover-color: #7f56d9 !important;
}
.btn-outline-secondary {
  --bs-btn-color: #7f56d9 !important;
  --bs-btn-border-color: #efe5fd;
  --bs-btn-hover-color: #7f56d9 !important;
  --bs-btn-font-family: "Inter", sans-serif !important;
}
.btn-light {
  --bs-btn-hover-bg: #efe5fd !important;
  --bs-btn-hover-border-color: #c6c7c800 !important;
}
