:root {
  // swiper-navigation
  --swiper-navigation-size: 18px !important;
  // swiper-navigation
  --bs-font-sans-serif: "Inter", sans-serif !important;
}
body {
  font-family: var(--bs-font-sans-serif) !important;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/font/Inter_24pt-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/font/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.title-3 {
  line-height: 35.52px !important;
  font-size: 15.04px !important;
}

.title-1 {
  font-size: 10.656px !important;
  font-weight: 600;
  line-height: 8.88px !important;
}
.fw-600 {
  font-weight: 600;
}

.w-1 {
  width: 30px;
  height: 30px;
}
