
// Layout & components
@import "./core/navbar";
@import "./core/reset";
@import "./core/banner";

:root {
  --swiper-navigation-size: 18px !important;
}


$primary: #7F56D9;
$secondary:#efe5fd;
$danger: #b3521b;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";




$border-radius:   1rem !default;
$theme-colors: (
  "primary": $primary,
  "danger": $danger,

);